:root {
  --black:   #000000;
  --dd-gray: #3d3d3d;
  --d-gray:  #777777;
  --l-gray:  #a0a0a0;
  --ll-gray: #e0e0e0;
  --white:   #ffffff;

  --red: #ff4444;

  --basic-text-size: 18px;
  --navbar-link-size: 16px;
  --last-edited-size: 15px;
  --code-size: 14px;
}

/* General settings for the body */
body {
  font-family: 'Gentium Book Basic', sans-serif;
  font-size: var(--basic-text-size);
  box-sizing: border-box;
  /* set width, max-width, and min-width as needed */
  max-width: 1100px;
  min-width: 750px;
  width: 100%; /* = max( min-width, min(max-width,width) ) */
  margin: 0px;
  padding: 80px 60px 60px 60px;
  padding-right: 280px; /* = width of side navigation bar + 2*40px */
  line-height: 1.55;
  vertical-align: left;
}

/* Top navigation bar */
.topnavbar {
  position: fixed;
  background-color: var(--dd-gray);
  box-sizing: border-box;
  width: 100%;
  margin: -80px -60px -60px -60px; /* undo padding from body */
  padding: 10px;
  z-index: 999;
}
.topnavbar a {
  color: var(--l-gray);
  padding: 10px;
  font-size: var(--navbar-link-size);
}
.topnavbar a:hover {
  color: var(--white);
}
.topnavbar .active {
  color: var(--white);
}

/* Side naviation bar */
.sidenavbar {
  position: fixed;
  box-sizing: border-box;
  top: 150px;
  right: 40px;
  width: 160px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--dd-gray);
  z-index: 999;
}
.sidenavbar a {
  color: var(--d-gray);
  font-size: var(--navbar-link-size);
}
.sidenavbar a:hover {
  color: var(--l-gray);
}
/* for widths smaller than min-width of the body, remove side bar */
@media (max-width: 750px) {
  .sidenavbar {
    display: none !important;
  }
}

/* Last edited pane */
.lastedited {
  font-size: var(--last-edited-size);
  margin-top: 40px;
  text-align: right;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

/* Links */
a {
  color: var(--d-gray);
  text-decoration: none;
}
a:hover {
  color: var(--l-gray);
}

/* Code */
code {
  font-size: var(--code-size);
  color: var(--red);
  background-color: var(--ll-gray);
  padding: 2px;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  font-size: 13px;
} 

/* Textfile */
.txtfile {
  background-color: var(--ll-gray);
}

/* List items with extra space */
ol.listextraspace li {
  margin-bottom: 10px;
}
ul.listextraspace li {
  margin-bottom: 10px;
}
ol.listnoextraspace li {
  margin-bottom: 0px;
}
ul.listnoextraspace li {
  margin-bottom: 0px;
}
